*{
    margin: 0;
    font-family: 'Jersey', sans-serif;
}

header{
  padding: 20px 50px;
    background: url(../images/noirfond.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    unicode-bidi: isolate;
    position: flex;
    top: 0;
    width: 96,1%;
}

nav a {
  margin-left: 10px;
}

footer{
  padding: 20px 50px;
  background: url(../images/noirfond.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  unicode-bidi: isolate;
 position: fixed;
  bottom: 0;
  width: 100%;
}

.parcourir a{
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  border-radius: 30px;
  background-color: rgb(41, 44, 48);
  box-shadow: 3px 3px 0px rgb(4, 46, 4);
}

.parcourir a:hover {
  background-color: rgb(4, 46, 4);
  box-shadow: 6px 6px 0px rgb(41, 44, 48);
}
/*Inverse les couleurs au survolage de la zone avec la souris */

.parcourir a:active {
  background-color: rgb(0, 255, 0);
}
/*change la couleur lors du clic */
